﻿@page "/account/signin"


<div class="row d-flex px-3">
    <RadzenCard>
        <h2 class="mb-4">Sign In</h2>

    </RadzenCard>
    @*<RadzenCard>
        <h2 class="mb-4">Default values</h2>
        <RadzenTemplateForm Data=@("LoginWithDefaultValues")>
            <RadzenLogin AllowRegister="true" AllowResetPassword="true" Username=@userName Password=@password
                         Login=@(args => OnLogin(args, "Login with default values"))
                         ResetPassword=@(args => OnResetPassword(args, "Login with default values"))
                         Register=@(args => OnRegister("Login with default values")) />
        </RadzenTemplateForm>
    </RadzenCard>*@
</div>

@code {
    string userName = "admin";
    string password = "admin";

    void OnLogin(LoginArgs args, string name)
    {

    }

    void OnRegister(string name)
    {

    }

    void OnResetPassword(string value, string name)
    {

    }
}
